<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Redigér Madvare</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/></head>
<body>
<div th:include="fragment/style :: nav-navbar"></div>


<div class="container">
    <h1>Redigér Madvare</h1>
    <form th:action="@{/food-item/edit/save/(id=${foodItemModel.id})}" th:method="put">
        <hr>
        <div class="form-group">
            <label for="name">Navn</label>
            <input type="text" class="form-control" id="name" value="" th:field="${foodItemModel.name}">
        </div>
        <div class="form-group">
            <label for="price">Pris</label>
            <input type="text" class="form-control" id="price" value="" th:field="${foodItemModel.price}">
        </div>
        <div class="form-group" >
            <label for="description" class="col-form-label">Beskrivelse</label>
            <textarea class="form-control" rows="5" id="description" name="description" value=""
                      th:field="${foodItemModel.description}"></textarea>
        </div>
        <hr>
        <button type="submit" class="btn btn-success mb-2">Gem</button>
    </form>
</div>



<script src="/webjars/jquery/3.2.1/jquery.js"></script>
<script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
<script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>
</html>