<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bestillinger</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/></head>
<body>
<div th:include="fragment/style :: nav-navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Bestillinger</h2>
        </div>
    </div>
    <div class = "table-responsive">
        <table class = "table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Menu</th>
                <th>Pris</th>
                <th>Antal kuverter</th>
                <th>Navn</th>
                <th>E-mail</th>
                <th>Adresse</th>
                <th>Kommentar</th>
            </tr>
            </thead>
            <tbody>
            <!-- Display all orders from the DB -->
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.menu.name}"></td>
                <td th:text="${order.priceTotal} + ' DKK'"></td>
                <td th:text="${order.guestCount}"></td>
                <br>
                <td th:text="${order.customerName}"></td>
                <td th:text="${order.customerEmail}"></td>
                <td th:text="${order.customerAddress}"></td>
                <td th:text="${order.customerComment}"></td>
                <td><a id="edit" th:href="@{../order/edit/(id=${order.id})}" title="Redigér">
                    <button class="btn btn-primary">Redigér</button></a></td>
                <td><a id="delete"  th:href="@{../order/delete/(id=${order.id})}"title="Slet">
                    <button class="btn btn-danger">Slet</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <script src="/webjars/jquery/3.2.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>
</html>